<section>
  <div class="footer-links">
    <a [routerLink]="['contact']">Cities</a>
    <a [routerLink]="['contact']">Contact</a>
    <a [routerLink]="['contact']">Sign Up</a>
  </div>
  <div class="socials">
    <h5>FOLLOW US</h5>
    <div class="socials-links">
      <a href="https://facebook,com" target="_blank"
        ><img src="assets/img/socials/facebook.svg" alt="Facebook"
      /></a>
      <a href="https://twitter,com" target="_blank"
        ><img src="assets/img/socials/twitter.svg" alt="Twitter"
      /></a>
      <a href="https://linkedin,com" target="_blank"
        ><img src="assets/img/socials/linkedin.svg" alt="Linked In"
      /></a>
      <a href="https://youtube,com" target="_blank"
        ><img src="assets/img/socials/youtube.svg" alt="Youtube"
      /></a>
    </div>
  </div>
</section>

<div class="copyright">
  <p>Copyright 2006- 2019 Pootaa- All Rights Reserved</p>
</div>
