.become {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100vh;
  &__logo {
    margin-bottom: 2.5rem;
  }
  form {
    text-align: center;
    max-width: 800px;
    width: 95%;
    button {
      min-width: 150px;
    }
  }
  &__input {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    input,
    select {
      width: 100%;
      margin-bottom: 1.5rem;
    }
    select {
      background: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    @media screen and (min-width: 568px) {
      flex-flow: row wrap;
      input,
      select {
        width: 48%;
      }
    }
  }
  &__div {
    width: 85%;
    max-width: 500px;
  }
  &__btn {
    width: 25%;
    background-color: transparent;
    border: 2px solid #2cb357;
    border-radius: 4px;
    padding: 0.725rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: white;
    }
    img {
      height: 2.125rem;
    }
    &--wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 0.825rem;
      padding-right: 0.825rem;
    }
  }
  &__bottom {
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin-top: 5rem;
    p {
      margin-bottom: 1.5rem;
    }
  }
  &__upload {
    width: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    @media screen and (min-width: 568px) {
      width: 48%;
    }
    input {
      width: 100%;
      margin-bottom: 0;
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      cursor: pointer;
      opacity: 0;
      padding: 0;
      height: 2.5rem;
    }
    label {
      line-height: 2.5rem;
      display: flex;
      border: 1px dashed #2cb357;
      justify-content: center;
      margin-bottom: 0.625rem;
    }
  }
  &__caution {
    display: flex;
    align-items: flex-start;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    img {
      margin-right: 6px;
    }
  }
}

.caution {
  color: black;
  opacity: 0.5;
  font-size: 12px;
}
