<div class="landing">
  <h1>
    Contact Us
  </h1>
</div>

<section>
  <div class="touch">
    <h4>Get in touch with us !</h4>
    <div class="touch__flex">
      <div class="touch__div">
        <img src="assets/img/phone.svg" alt="Phone" />
        <h5>PHONE</h5>
        <p>08099993028</p>
        <p>07031555235</p>
      </div>
      <div class="touch__div">
        <img src="assets/img/location.svg" alt="Address" />
        <h5>ADDRESS</h5>
        <p>
          Workstation 350, 360 Ikorodu Road, Maryland 100211, Lagos, Nigeria
        </p>
      </div>
      <div class="touch__div">
        <img src="assets/img/email.svg" alt="Mail Us" />
        <h5>EMAIL</h5>
        <p>hello@pootaa.com</p>
      </div>
    </div>
  </div>
</section>

<div class="map"></div>

<section>
  <div class="contact-form">
    <h4>
      If you got any questions<br />
      Please do not hesitate to send us a message
    </h4>
    <form>
      <div class="contact__input">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email Address" />
      </div>
      <div class="contact__message">
        <textarea name="message" rows="8" placeholder="Your Message"></textarea>
      </div>
      <div class="contact__btn">
        <button class="btn btn__primary">Send</button>
      </div>
    </form>
    <div>
      <h4>Connect With Us</h4>
      <div class="contact__links">
        <a href="https://facebook,com" target="_blank"
          ><img src="assets/img/socials/facebook.svg" alt="Facebook"
        /></a>
        <a href="https://twitter,com" target="_blank"
          ><img src="assets/img/socials/twitter.svg" alt="Twitter"
        /></a>
        <a href="https://linkedin,com" target="_blank"
          ><img src="assets/img/socials/linkedin.svg" alt="Linked In"
        /></a>
        <a href="https://youtube,com" target="_blank"
          ><img src="assets/img/socials/youtube.svg" alt="Youtube"
        /></a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
