section {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  // padding-top: 100px;
  padding-bottom: 3rem;
  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
  }

  &__text {
    @media screen and (min-width: 768px) {
      flex: 1 1 40%;
      width: 40%;
    }
  }

  h1 {
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  &__images {
    text-align: center;
    img {
      width: 90%;
      max-width: 400px;
    }
    @media screen and (min-width: 768px) {
      text-align: right;
      padding-left: 2rem;
      flex: 1 1 60%;
      width: 60%;
    }
  }
}
