/* You can add global styles to this file, and also import other style files */
@import "./variables";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: $text-color;
  font-size: 0.825rem;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}

input,
textarea,
select {
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 4px;
  font-size: 1rem;
}
select {
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 1rem;
  }
}

section {
  padding: 2rem;
}

.ml-auto {
  margin-left: auto;
}
.text-right {
  text-align: right;
}

.btn {
  background: white;
  border: 2px solid $text-color;
  border-radius: 4px;
  padding: 0.725rem 2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 1rem;
  &__primary {
    background: linear-gradient(
      270deg,
      #258c45 0%,
      #2b8c49 10.59%,
      #82c482 54.73%,
      #b3d744 85.48%,
      #c6de2c 100%
    );
    color: $white;
    border-color: #b3d744;
    &:hover {
      background: $white;
      color: $primary;
      border-color: $primary;
    }
    &--outline {
      background: $white;
      color: $primary;
      border-color: $primary;
      &:hover {
        background: linear-gradient(
          270deg,
          #258c45 0%,
          #2b8c49 10.59%,
          #82c482 54.73%,
          #b3d744 85.48%,
          #c6de2c 100%
        );
        color: $white;
        // border: none;
      }
    }
  }
}

.copyright {
  background: $primary;
  color: $white;
}
