<section class="landing">
  <h1>
    Your Delivery<br />
    Just Got Easier.
  </h1>
  <p>
    Book Now for home/office pickup & Delivery Need Extra Cash? Become a Pootaa
  </p>
  <div class="btn-wrapper">
    <button class="btn btn__primary" [routerLink]="['/hire-success']">
      Hire a Pootaa</button
    ><button
      class="btn btn__primary--outline"
      [routerLink]="['/auth/become-a-pootaa']"
    >
      Become a Pootaa
    </button>
  </div>
  <div class="landing__images">
    <img src="assets/img/landing-woman.svg" alt="Woman delivering" />
    <img src="assets/img/landing-man.svg" alt="Man delivering" />
  </div>
</section>

<section class="layer">
  <div class="layer__flex">
    <div class="layer__div">
      <img src="assets/img/reliable.svg" alt="Reliable and Secure" />
      <h5>Reliable and secure</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam
      </p>
    </div>
    <div class="layer__div">
      <img src="assets/img/customer-service.svg" alt="Reliable and Secure" />
      <h5>Great customer service</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam
      </p>
    </div>
    <div class="layer__div">
      <img src="assets/img/on-time.svg" alt="Reliable and Secure" />
      <h5>On-time delivery</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam
      </p>
    </div>
  </div>
</section>

<section class="work">
  <h3>
    How It<br />
    Works
  </h3>
  <div class="work-div">
    <div class="work__left">
      <div class="work__text">
        <h5>Register</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
      </div>
    </div>
    <div class="work__right work__right--img">
      <img src="assets/img/registration.svg" alt="Registration" width="85%" />
    </div>
  </div>
  <div class="work-div">
    <div class="work__left work__left--img">
      <img
        src="assets/img/select-items.svg"
        alt="Select your items"
        width="100%"
      />
    </div>
    <div class="work__right work__right--text">
      <div class="work__text">
        <h5>Select your items</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
      </div>
    </div>
  </div>
  <div class="work-div">
    <div class="work__left">
      <div class="work__text">
        <h5>Make Payment</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
      </div>
    </div>
    <div class="work__right work__right--img">
      <img src="assets/img/make-payment.svg" alt="Make Payment" width="85%" />
    </div>
  </div>
  <div class="work-div">
    <div class="work__left work__left--img">
      <img
        src="assets/img/pickup-deliver.svg"
        alt="We Pick and deliver"
        width="85%"
      />
    </div>
    <div class="work__right work__right--text">
      <div class="work__text">
        <h5>We pickup / deliver</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
      </div>
    </div>
  </div>
</section>

<app-cities></app-cities>

<app-footer></app-footer>
